Vivek_SEA-CROGS.pptx:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
trask_graphs.pptx filter=lfs diff=lfs merge=lfs -text
vivekoommen_operators.pptx filter=lfs diff=lfs merge=lfs -text
~$trask_graphs.pptx filter=lfs diff=lfs merge=lfs -text
SNN[[:space:]]for[[:space:]]SciML.pptx:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
elisewalker_graphs.pptx filter=lfs diff=lfs merge=lfs -text
karniadakis_overview.pptx filter=lfs diff=lfs merge=lfs -text
qianzhang_spikes.pptx filter=lfs diff=lfs merge=lfs -text
SEA-CROGS_Nov14_2024_GK.pptx:Zone.Identifier filter=lfs diff=lfs merge=lfs -text
